.order
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 20px;
    gap: 15px;
    margin: 20px 0;
    align-items: center;
    background: linear-gradient(to top, #e3f4f8, #cfeff5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.cart-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 80%;
    gap: 0px 10px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-product-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}


.cart-product-item img {
    height: 100px;
    width: auto;
    max-width: 120px;
    border-radius: 5%;
    object-fit: contain;
    margin-right: 15px;
}

.cart-product-item h3 {
    font-size: 22px;
    margin: 0;
    color: #333;
    font-weight: 600;
    flex: 1;
    text-align: left;
}
.cart-product-text p {
    font-size: 15px;
    margin: 0;
    color: #504f4f;
    font-weight: 500;
    flex: 1;
    text-align: left;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    color: #444;
    white-space: nowrap;
    margin-left: 10px;
}
