header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 25px; 
}

.welcome-header-text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.welcome-logo {
    width: 110px;
    height: 110px;
}

header .welcome-header-text h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
}

header .welcome-header-text p {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.2;
}

header .welcome-header img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-right: 15px;
}

header .welcome-header .welcome-header-text-category h1 {
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.2;
    color: #101422; 
}

.category-image-welcome img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}


@media (max-width: 768px)
{
    .welcome-header {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .welcome-header-text {
        justify-content: center;
        align-items: center;
    }

    header .welcome-header-text h1 {
       font-size: 2.7rem;
        text-align: center;
    }

    header .welcome-header-text p {
       font-size: 1.2rem;
        text-align: center;
    }
    
    header .welcome-header img {
        margin-right: 0px;
        width: 100px;
        height: 100px;
    }
}
